.inputSection {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 30px 0;

    .searchInput {
        width: 50%;
        padding: 10px 15px;
        font-size: 16px;
        outline: none;
        border-radius: 15px;
        border: 1px solid #FFFFFFB3;
        background-color: #ffffffce;
    }

    .searchButton {
        position: absolute;
        top: 9px;
        right: 25%;
        font-size: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}